.topbar1{
    position: absolute;
    width: 1519px;
    height: 74.67px;
    left: 0px;
    top: 0px;
  }
  
  .logo{
    position: absolute;
  width: 131.2px;
  height: 35.2px;
  left: 30.93px;
  top: 23.47px;
  }