/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topbar {
  position: absolute;
  width: 1519px;
  height: 74.67px;
  left: 0px;
  top: 0px;
}

.date {
  position: relative;
  left: 28.5%;
  margin-top: 11%;
}

.css-1xhypcz-MuiStack-root > .MuiTextField-root {
  min-width: 362px !important;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  will-change: background-color;
  background-color: #dcf0da !important;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: #dcf0da !important;
}

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 0px !important;
}

/* .css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff;
  background-color: #DCF0DA !important;
  font-weight: 500;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} */

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: #dcf0da !important;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff;
  background-color: #dcf0da !important;
  font-weight: 500;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff;
  background-color: #dcf0da !important;
  font-weight: 500;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 0;
  background-color: #dcf0da !important;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 2px;
}
.bold {
  font-family: "Eina02-Semibold";
  font-size: 25px;
  line-height: 28.13px;
  color: black;
}

.sideText {
  position: absolute;
  width: 340px;
  height: 60px;
  left: 15px;
  margin-top: 8px;
  font: "Eina01-Regular";
  font-size: 19px;
  text-align: left;
}

.bank {
  position: absolute;
  width: 340px;
  height: 300px;
  left: 1070px;
  top: 570px;
  bottom: 98px;
}

.ui {
  position: relative;
  left: 29%;
}

.heading {
  position: absolute;
  left: 437px;
  top: 164px;
  font-family: "Eina01-SemiBold";
  font-size: 32px;
  line-height: 0;
  letter-spacing: -0.11px;
  color: #2b3034;
}

.second {
  width: 622px;
  height: 19px;
  margin-top: 209px;
  margin-left: 440px;
  color: #8790a4;
}

.TextBox {
  box-sizing: border-box;

  position: absolute;
  width: 360px;
  height: 55px;
  top: 292px;
  left: 437px;
  background: #f5f8ff;
  /* Light/Stroke */

  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.TextBox-1 {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 55px;
  top: 292px;
  left: 829px;
  background: #f5f8ff;
  /* Light/Stroke */

  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.TextBox-2 {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 55px;
  top: 405px;
  left: 437px;
  background: #f5f8ff;
  /* Light/Stroke */

  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.states {
  color: grey !important;
  font-weight: bold;
}

.cities {
  color: grey !important;
  font-weight: bold;
}
.idproof {
  font-weight: bold;
  color: gray;
}
.addressproof {
  font-weight: bold;
  color: gray;
}
.TextBox-3 {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 55px;
  top: 405px;
  left: 434px;
  background: #f5f8ff;
  /* Light/Stroke */

  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.TextBox-4 {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 55px;
  top: 405px;
  left: 828px;
  background: #f5f8ff;
  /* Light/Stroke */

  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.TextBox-5 {
  box-sizing: border-box;
  position: absolute;
  width: 360px;
  height: 55px;
  top: 518px;
  left: 434px;
  background: #f5f8ff;
  /* Light/Stroke */

  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.TextBox-6 {
  box-sizing: border-box;
  position: absolute;
  width: 361px;
  height: 55px;
  top: 631px;
  left: 828px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}

.TextBox-7 {
  box-sizing: border-box;
  position: absolute;
  left: 440px;
  right: 3.71%;
  top: 741px;
  bottom: 8.71%;
  background: #f5f6fa;
  border: 1px dashed #d1d9ed;
  border-radius: 4px;
  height: 166px;
  width: 752px;
  padding-left: 1%;
  font-size: 90%;
  font-weight: bold;
}
.label-name {
  position: absolute;
  top: 264px;
  left: 437px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-1 {
  position: absolute;
  top: 263px;
  left: 829px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-2 {
  position: absolute;
  top: 377.5px;
  left: 434px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-3 {
  position: absolute;
  top: 379.5px;
  left: 436px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-4 {
  position: absolute;
  top: 378.5px;
  left: 830px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-5 {
  position: absolute;
  top: 492.5px;
  left: 436px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-6 {
  position: absolute;
  top: 492px;
  left: 827px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-7 {
  position: absolute;
  top: 605.5px;
  left: 436px;
  font-weight: 700;
  font-size: 14px;
}

.label-name-8 {
  position: absolute;
  top: 605px;
  left: 829px;
  font-weight: 700;
  font-size: 14px;
}
.label-name-9 {
  position: absolute;
  top: 715px;
  left: 437px;
  font-weight: 700;
  font-size: 14px;
}

.dropdown {
  position: "absolute";
  width: 229px;
  top: 631px;
  left: 437px;
  background: "#F5F8FF";
  height: 52px;
}

.dropdown-1 {
  position: "absolute";
  width: 229px;
  top: 631px;
  left: 437px;
  background: "#F5F8FF";
  height: 52px;
}

.total {
  position: absolute;
  top: 0px;
}

.next-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  top: 744px;
  left: 433px;
  width: 80px;
  height: 45px;
  background: #4fb645;
  color: white;
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  border: 0;
}

button.pagination-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 722.3px;
  top: 666px;
  position: absolute;

  & > button {
    flex: 0 0 42px;
    height: 42px;
    padding: 6px;
    transition: 0.4s;

    &:hover {
      flex: 0 0 70px;

      & > span {
        background-color: #4fb645;
        opacity: 1;
      }
    }

    & > span {
      display: block;
      width: 40%;
      height: 10px;
      border-radius: 15px;
      background-color: #4fb645;
      opacity: 0.3;
      transition: 0.4s;
    }
  }
}
span#active {
  width: 22px;
  opacity: 1;
}

.pagination-2 {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 722.3px;
  top: 830px;
  position: absolute;

  & > button {
    flex: 0 0 42px;
    height: 42px;
    padding: 6px;
    transition: 0.4s;

    &:hover {
      flex: 0 0 70px;

      & > span {
        background-color: #4fb645;
        opacity: 1;
      }
    }

    & > span {
      display: block;
      width: 40%;
      height: 10px;
      border-radius: 15px;
      background-color: #4fb645;
      opacity: 0.3;
      transition: 0.4s;
    }
  }
}
button.backArrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 100px;
  left: 437px;
  border: 0px;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.errors {
  color: red;
}

.field {
  width: 50%;
  margin: 0px 2px;
  padding: 2%;
}

.single-line {
  display: inline-flex;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.img {
  border-style: none;
  vertical-align: sub;
}
.numbcirc {
  color: black;
  font-family: "Eina01-SemiBold";
  font-size: 19px;
  color: #626d8a;
}

.opaimg {
  opacity: 0.2;
  position: absolute;
  right: 0.01%;
  bottom: 0.01%;
}
.circt {
  padding-left: 8%;
}
.lat {
  position: absolute;
  bottom: 4%;
  width: 5%;
  text-align: center;
  left: 55%;
}

.descrip {
  font-family: "Eina01-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #8790a4;
}
.dropdown-input {
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  box-sizing: border-box;
}
/* .dropdown-container {
text-align: left;
border: 1px solid #ccc;
position: relative;
border-radius: 5px;
width:35%;
} */

label,
input,
select {
  display: block;
}

label {
  margin-bottom: 20px;
}

/* .dropdown-container{
margin-bottom: 20px;
width: 360px;
left: 0px;
border-radius: 4px;
} */

.dropzone-wrap {
  box-sizing: border-box;
  background: #f5f6fa;
  border: 1px dashed #d1d9ed;
  border-radius: 4px;
  width: 112%;
  height: 109px;
  left: 4%;
  vertical-align: middle;
  position: absolute;
  top: 128px;
}

.dropzone-wrap1 {
  box-sizing: border-box;
  background: #f5f6fa;
  border: 1px dashed #d1d9ed;
  border-radius: 4px;
  width: 112%;
  height: 109px;
  left: 140%;
  vertical-align: middle;
  position: absolute;
  top: 128px;
}
.browseco {
  color: #3a6fe7;
}

.dropzone-content {
  font-family: "Eina01-SemiBold";
  font-size: 12px;
  line-height: 137%;
  text-align: center;
}
.text-center {
  padding-top: 6%;
  text-align: center;
}

.proofpad {
  padding-left: 10%;
}

.flexdata {
  display: flex;
}

.nextbtn {
  margin-top: 22%;
  gap: 10px;
  width: 80px;
  height: 45px;
  background: #16c612;
  border-radius: 30px;
  color: white;
}

.mandate {
  color: red;
}

.parent {
  display: flex;
  font-family: arial, sans-serif;
}

.item {
  width: 78%;
  padding: 2em;
  color: #ffffff;
  background: #eeeeee;
  min-height: 500px;
  background-image: url("assets/img/BaseBackground.png");
}

.last {
  width: 570px;
  height: 88px;

  /* H! */

  font-family: "Eina01-SemiBold";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.11px;

  /* Light/Text */

  color: #2b3034;
  position: absolute;
  left: 820px;
  top: 140px;
}

.dbutton {
  width: 55%;
  height: 82%;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #d7d4d4;
  background-color: #e5f1f46e;
  position: relative;
  top: 34px;
}
.imgcs {
  width: 12%;
}
.headerim {
  text-align: left;
  height: 60px;
}
.spanbut {
  padding-left: 34%;
  font-size: large;
  vertical-align: super;
  font-weight: bold;
}

.arrowim {
  width: 10%;
  height: 20%;
  text-align: right;
  vertical-align: 100%;
  padding-left: 10%;
}

.sidim {
  color: black !important;
  text-align: left;
  font-size: 0.85em !important;
  position: absolute;
  top: 451px;
}

.sidimin {
  color: #057472 !important;
  text-align: left;
  font-size: 1.4em;
}
.circ {
  height: 25px;
  width: 25px;
  background-color: #16c612;
  border-radius: 50%;
  display: block;
}
.vecl {
  vertical-align: text-bottom;
}

.itemoth {
  width: 22%;
  padding: 2em;
  color: #ffffff;
  background: #eeeeee;
  min-height: 500px;
  background-image: url("assets/img/BaseBackground.png");
}

.contdata {
  font-family: "Eina01-Regular";
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: left;
}

.foot {
  color: #000000;
  font-family: "Eina01-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #aeaeae;
  position: relative;
  top: 100%;
}

.tab {
  display: inline-block;
  margin-left: 10%;
}

.tb7 {
  box-sizing: border-box;
  bottom: 8.71%;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 5%;
}
.padfield {
  padding-left: 10%;
  padding-top: 2px;
}

.prsub {
  width: 178px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  background: #4fb645;
  opacity: 0.6;
  border-radius: 30px;
  color: white;
  position: absolute;
  left: 29%;
  border: 0;
}
.fourth {
  position: absolute;
  left: 28%;
}
.bt-2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  top: 360px;
  left: 7px;
  width: 80px;
  height: 45px;
  background: #4fb645;
  color: white;
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.dump {
  position: absolute;
  top: 90px;
}

.img-green {
  width: 644px;
  padding: 2em;
  color: #ffffff;
  background: #eeeeee;
  height: 760px;
  margin-top: -5px;
  background-image: url("assets/img/BaseBackground.png");
}

.group {
  position: absolute;
  height: 277px;
  width: 248px;
  left: 51px;
  top: 149px;
  border-radius: 0px;
}

img.spanim {
  position: absolute;
  top: 14%;
}

.arrow-1 {
  position: absolute;
  top: 263%;
  left: 49%;
}
.arrow-2 {
  position: absolute;
  top: 390%;
  left: 49%;
}

.success {
  position: absolute;
  left: 733px;
  top: 205px;
}

.wish {
  position: absolute;
  top: 285px;
  left: 729px;
}
.message {
  position: absolute;
  top: 330px;
  left: 605px;
  width: 23%;
}

.ok-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 165px;
  height: 45px;
  background: #4fb645;
  border-radius: 30px;
  left: 694px;
  top: 424px;
  border: 0;
  color: white;
}

.upper {
  position: absolute;
  top: 90px;
  left: 447px;
  font-size: xx-large;
}

.upper-1 {
  position: absolute;
  left: 449px;
  top: 147px;
  color: #8790a4;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.sub {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 150px;
  height: 45px;

  /* Primary Color */

  background: #4fb645;
  border-radius: 30px;

  left: 444px;
  top: 810px;
  border: 0;
  color: white;
}

.personal-details {
  /* background-color: rgb(223, 208, 208); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 622px;
  height: 550px;
  left: 415px;
  top: 132px;
}

/* .arrow-left{
  cursor: pointer;
  border: white;
  background-color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 427px;
  top: 98px;
} */
.arrow-left {
  cursor: pointer;
  border: white;
  background-color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -10px;
  top: 6px;
}
.arrow-left-1 {
  cursor: pointer;
  border: white;
  background-color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 435px;
  top: 97px;
}
.personal-details-text {
  width: 260px;
  height: 44px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.11px;
  color: #2b3034;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 64px;
  margin-left: -1%;
}

.field-info {
  width: 622px;
  height: 5px;
  margin-top: -19px;
  font-size: 16px;
  line-height: 1px;
  color: rgba(135, 144, 164, 1);
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  left: -1%;
}

.mobile-number {
  width: 380px;
  height: 92px;
  margin-top: -10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  align-items: left;
  order: 2;
}

.mobnum-text {
  line-height: 14px;
  color: #2b3034;
  margin-top: 1px;
  position: absolute;
  top: 29%;
  left: 0%;
}

.mobnum-field {
  width: 360px;
  height: 52px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding-left: 72px;
  line-height: 14px;
  vertical-align: top;
  letter-spacing: -0.05px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  position: absolute;
  top: 34%;
}

.email {
  width: 380px;
  height: 90px;
  margin-top: -20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  align-items: left;
  /* background-color: blue; */
  order: 3;
}

.email-text {
  font-weight: bold;
  line-height: 14px;
  color: rgba(43, 48, 52, 1);
  position: absolute;
  top: 48%;
  left: 0%;
}

.email-field {
  width: 360px;
  height: 52px;
  box-sizing: border-box;
  padding-left: 15px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 53%;
}

.AadharNumber {
  width: 380px;
  height: 90px;
  margin-top: -20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  align-items: left;
  /* background-color: blue; */
  order: 3;
}

.AadharNumber-text {
  font-weight: bold;
  line-height: 14px;
  color: rgba(43, 48, 52, 1);
  position: absolute;
  top: 68%;
  left: 0%;
}

.AadharNumber-field {
  width: 360px;
  height: 52px;
  box-sizing: border-box;
  padding-left: 15px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 73%;
}

.pan-number {
  width: 380px;
  height: 98px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 14px;
  align-items: left;
  margin-top: -15px;
  /* background-color: blue; */
  margin-left: -5px;
  order: 4;
}

.pan-text {
  margin-left: 7px;
  font-size: 14px !important;
  font-weight: bolder;
  line-height: 14px;
  color: rgba(43, 48, 52, 1);
  position: absolute;
  top: 88%;
}

.pan-field {
  width: 360px;
  height: 52px;
  box-sizing: border-box;
  margin-top: px;
  margin-left: 7px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;

  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 93%;
  padding-left: 2%;
}

.checkbox-field {
  overscroll-behavior-block: grey;
  display: inline-block;
  width: 370px;
  height: 30px;
  margin-top: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 14px;
  order: 5;
  cursor: pointer;
  flex-direction: row;
  position: absolute;
  top: 109%;
}
.next-button-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border: 0;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -8px;
  /* Primary Color */

  background: #4fb645;
  border-radius: 30px;

  /* Inside auto layout */

  flex: none;
  order: 6;
  flex-grow: 0;
  position: absolute;
  top: 120%;
}

.terms {
  position: relative;
  left: 39px;
  bottom: 18px;
}

.checkbox {
  accent-color: green;
}
.edit-1 {
  background: none;
  border: none;
  position: absolute;
  left: 46%;
  margin-top: -12%;
}

.edit-2 {
  background: none;
  border: none;
  position: absolute;
  left: 60%;
  margin-top: -12%;
}

.edit-3 {
  background: none;
  border: none;
  position: absolute;
  left: 22%;
  margin-top: -12%;
}

.edit-4 {
  background: none;
  border: none;
  position: absolute;
  left: 52%;
  margin-top: -12%;
}

.table {
  position: absolute;
  left: 29%;
  margin-top: 14%;
  width: 55%;
}

.download {
  position: absolute;
  left: 71%;
  top: 18%;
  background: none;
  border: none;
}

.file {
  position: absolute;
  left: 120%;
  top: 18%;
  width: 10%;
  color: blue;
}
.entire {
  display: inline-flex;
}

td.space {
  padding-left: 200px;
}

.table-outline {
  border: 1px solid #e5edff;
  border-radius: 10px;
  border-collapse: collapse;
}

/* .labelstep{

  font-weight: bold;
  font-size: 20px;
  color: #000000;
  width: 132px;
} */

.linecss {
  position: absolute;
  left: 21px;
  margin-top: -16px;
  padding-top: 30px;
  margin-left: 8px;
}

.signup-progress-bar {
  margin-top: 55px;
  margin-left: 18px;
}

.progress-bar-2 {
  margin-left: 8px;
  background: none !important;
  margin-top: 15%;
}

.progress-bar-3 {
  margin-left: 5px;
  background: none !important;
  margin-top: 0%;
}
.progress-bar-4 {
  margin-left: 1px;
  background: none !important;
  margin-top: 0%;
}
.progress-bar-5 {
  margin-left: 4px;
  background: none !important;
  margin-top: 14%;
}

.barcode-2 {
  position: absolute;
  left: 11px;
  margin-top: -45px;
  padding-top: 28px;
  margin-left: 8px;
  height: 260px;
}

.barcode-3 {
  position: absolute;
  left: 9px;
  margin-top: -18px;
  padding-top: 28px;
  margin-left: 8px;
  height: 260px;
}
.barcode-4 {
  position: absolute;
  left: 5px;
  margin-top: -18px;
  padding-top: 28px;
  margin-left: 8px;
  height: 260px;
}

.barcode-5 {
  position: absolute;
  left: 8px;
  margin-top: -47px;
  padding-top: 28px;
  margin-left: 8px;
  height: 260px;
}

.details {
  position: absolute;
  top: -6%;
  left: 4%;
}

.mobnum-field-1 {
  width: 59px;
  height: 48px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding-left: 2%;
  line-height: 14px;
  vertical-align: top;
  letter-spacing: -0.05px;
  background: #dcf0da;
  border: 0px solid #c6d0e9;
  border-radius: 4px;
  position: absolute;
  top: 34.3%;
  left: 0.25%;
}

.states {
  position: absolute;
  height: 52px;
  width: 361px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 4%;
  left: 1px;
  top: 1px;
}

.cities {
  position: absolute;
  height: 56px;
  width: 361px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 4%;
  left: 1px;
  top: 1px;
}

.idproof {
  position: absolute;
  height: 52px;
  width: 351px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 4%;
  left: 13px;
  top: 50px;
}
.labelcont1 {
  position: absolute;
  width: 132px;
  margin-left: 8%;
  margin-top: 15%;
}
.labelcont2 {
  position: relative;
  width: 267%;
  margin-left: 710%;
  margin-top: 28%;
}

.labelcont4 {
  position: absolute;
  margin-top: -9%;
}

.labelcont3 {
  position: absolute;
  margin-top: -9%;
}
.addressproof {
  position: absolute;
  height: 52px;
  width: 351px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 4%;
  left: 443px;
  top: 50px;
}

.upload-box {
  position: absolute;
  top: 170px;
  left: 12px;
  box-sizing: border-box;
  border: 1px dashed #d1d9ed;
  height: 142px;
  width: 353px;
  background: #f5f6fa;
}

.upload-file {
  box-sizing: border-box;
  border: 1px dashed rgba(66, 66, 202, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  top: 22px;
  left: 141px;
}

.remove-file {
  position: absolute;
  left: 230px;
  top: 59px;
}

.drag-drop-area {
  position: absolute;
  left: 63px;
  top: 56px;
  width: 68%;
  color: #565e70;
}

.upload-box1 {
  position: absolute;
  top: 170px;
  left: 444px;
  box-sizing: border-box;
  border: 1px dashed #d1d9ed;
  height: 142px;
  width: 353px;
  background: #f5f6fa;
}

.upload-file1 {
  box-sizing: border-box;
  border: 1px dashed rgba(66, 66, 202, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
}

.vector {
  position: absolute;
  left: 44%;
  top: -54%;
}

.upload {
  position: absolute;
  left: 22%;
  top: 43%;
}

.file-name {
  position: absolute;
  left: 34%;
  top: 43%;
}

.ans1 {
  box-sizing: border-box;
  bottom: 8.71%;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  position: absolute;
  left: 27%;
  top: 47%;
  font-weight: bold;
}

.ans2 {
  box-sizing: border-box;
  bottom: 8.71%;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  position: absolute;
  left: 27%;
  top: 142%;
  font-weight: bold;
}

.ans3 {
  box-sizing: border-box;
  bottom: 8.71%;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  position: absolute;
  top: 241%;
  left: 27%;
  font-weight: bold;
}

.label1 {
  position: absolute;
  left: 27%;
  top: 19%;
}
.label2 {
  position: absolute;
  top: 115%;
  left: 27%;
}

.label3 {
  position: absolute;
  top: 216%;
  left: 27%;
}

.padfield {
  padding-left: 10%;
  padding-top: 2px;
}

.name1 {
  position: absolute;
  top: 19%;
}

.name2 {
  position: absolute;
  left: 0%;
  top: 114%;
}

.name3 {
  position: absolute;
  left: 0%;
  top: 216%;
}

.prsub {
  width: 178px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  background: #4fb645;
  opacity: 0.6;
  border-radius: 30px;
  color: white;
  position: absolute;
  left: 0%;
  border: 0;
  top: 330%;
}

.ques1 {
  box-sizing: border-box;
  bottom: 8.71%;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  position: absolute;
  left: -2px;
  top: 50px;
  color: grey !important;
  font-weight: bold;
}

.ques2 {
  position: absolute;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  left: -2px;
  top: 152px;
  color: grey !important;
  font-weight: bold;
}

.ques3 {
  position: absolute;
  height: 52px;
  width: 360px;
  background: #f5f8ff;
  border: 1px solid #c6d0e9;
  border-radius: 4px;
  padding-left: 1%;
  left: -2px;
  top: 241%;
  color: grey !important;
  font-weight: bold;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-weight: bold !important;
  color: green;
  font-family: inherit;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  background-color: grey;
  border-color: gray;
}
input.TextBox-3 {
  font-family: inherit;
  color: grey;
}

.h1{
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.h1, h1 {
  font-size: inherit;
}
h1 {
  margin-top: 0;
  margin-bottom: .5rem;
}
.h3, h3 {
  font-size: 1.75rem;
}
 .h3{
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h3.welcome {
  color: grey;
  font-size: smaller;
  font-weight: 500;
  position: relative;
  top: 20%;
}
